body {
	background: #2E8BE8;
	color: blue;
	font-family: 'helvetica', sans-serif;
	font-size: 16px;
	padding: 2em;
	text-align: center;
}
section {
	background: #fff;
	border-radius: 2em;
	padding: 2em;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
img {
	display: block;
	max-width: 80%;
	margin-bottom: 1em;
}